:root {
    --main-background-color: #fff;
    --primary-text-color: #212121;
    --accent-color: #2196f3;
}

/*Index.html*/

body {
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    text-decoration: none;
    margin: 0px;
}

/* Утіліті */
h2,
h2,
h1 {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    align-items: center;


}

.list-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 0 auto;
}



.section {
    padding: 94px 94px;
}

.logo {
    margin-right: 93px;
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    line-height: 2;
    letter-spacing: 0.03em;
    text-decoration: none;

}

.logo-header {
    color: #2196f3;
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 32px 0;
}

.nav-list .nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    text-decoration: none;

}

.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color);
}

.contact-mail,
.contact-number {
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    color: #757575;
}

.contact-mail,
.contact-number:not(:last-child) {
    margin-right: 50px;
}


.contact-number:hover,
.contact-number:focus {
    color: var(--accent-color);
}

.contact-mail:hover,
.contact-mail:focus {
    color: var(--accent-color);
}

/* Main */
.main {
    background-color: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.title {
    background-color: #2f303a;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;


    margin-top: 0;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


.order-button {


    background-color: var(--accent-color);
    color: #fff;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    font-family: roboto;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    padding: 0;
    cursor: pointer;

}

.subtitle {
    color: #212121;
    line-height: 1.14;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 10px;
}



.slogan {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    padding: 0;
    margin: 0;
}

.list-items {
    background-color: #f5f4fa;
}

.section-skills {
    padding-bottom: 94px;
}

.list-skills {
    display: flex;
    margin: 0;
    padding: 0;
}

.list-skills li:not(:last-child) {
    margin-right: 30px;
}

.features-list {
    display: flex;
    background-color: var(--main-background-color);
}

.headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;

    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;

}

.caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;

    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
}

.text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;

    text-align: center;
    margin: 0;
    padding: 0;
}

.list-team {
    display: flex;
    margin: 0;
    padding: 0;
}

.list-team .team-item:not(:last-child) {
    margin-right: 30px;
}

img {
    padding-bottom: 30px;
}

.footer-contacts {
    padding: 0;
    margin: 0;
}

.footer-contacts li:not(:last-child) {
    margin-bottom: 9px;
}

/* Portfolio */

.border-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(236, 236, 236, 1);
}

.card-section {
    padding: 94px 0;
}

.filter {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.filter li:not(:last-child) {
    margin-right: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.portfolio-item {
    width: 370px;
    padding: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #ECECEC;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.logo {
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    line-height: 2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-header {
    color: #2196f3;
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.nav-list .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color);
}

.contact-mail,
.contact-number {
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    color: #757575;
}

.contact-number:hover,
.contact-number:focus {
    color: var(--accent-color);
}

.contact-mail:hover,
.contact-mail:focus {
    color: var(--accent-color);
}

.button.all,
.button.web,
.button.applications,
.button.design,
.button.marketing {
    background: #f5f4fa;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    font-family: roboto;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button.all:hover,
.button.all:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
}

.button.web:hover,
.button.web:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
}

.button.applications:hover,
.button.applications:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
}

.button.design:hover,
.button.design:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
}

.button.marketing:hover,
.button.marketing:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
}

.nav-link.current {
    color: var(--accent-color);
}



.item-features {
    width: 270px;
}

.item-features:not(:last-child) {
    margin-right: 30px;
}

.title-slider {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-bottom: 4px;
    margin-top: 20px;
}

.text-slider {
    font-size: 16px;
    line-height: 1.8;
    color: #757575;
    letter-spacing: 0.03em;

    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-bottom: 20px;
}

.footer-content {
    background-color: #2f303a;
    color: #fff;
}

.title-logo {
    color: #2196f3;
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-logo {
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: 2;
    letter-spacing: 0.03em;
    text-decoration: none;

    margin-bottom: 20px;
}

.adress-link {
    color: #fff;
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}

.number,
.mail {
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.mail:hover,
.mail:focus {
    color: var(--accent-color);
}

.number:hover,
.number:focus {
    color: var(--accent-color);
}

/* img {
    display: block;
} */